/*Roboto Slab Google Font imported */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

/*Main styling with font, default color and font color */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Roboto Slab", serif;
}

main {
  flex: 1 0 auto;
}

/*Homepage settings (logo, info card, search bar) */

.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
  line-height: 2;
}

.btn-small {
  margin: 5px;
}

.collapsible-header .col strong {
  margin: 5px;
  line-height: 42px;
}
.card-image {
  max-width: 100%;
  height: auto;
}

.card {
  border: #e0c274 solid 0.2rem;
  border-radius: 0.5rem;
  height: 40rem;
}

.h4 .h5 {
  color: #00766b;
  font-size: 1.64rem;
  font-family: "Roboto Slab";
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0;
}

/*-----footer------*/

.footer {
  background-color: #c4e9e5;
  text-align: center;
  color: rgb(12, 19, 14);
}

a {
  background-color: #c4e9e5;
  text-align: center;
  color: rgb(60, 240, 150);
  background-color: transparent;
  text-decoration: none;
}

/*==================================================
=                Media Queries             =
==================================================*/


/*** Small mobile devices ***/


/*** Tested on Moto G4, Galaxy S5, Pixel2, Pixel 2XL, Iphone 5/SE, Iphone 6/7/8, IphoneX, Iphone 6/7/8 Plus, IphoneX, Ipad and Ipad Pro ***/

@media only screen and (min-width: 310px) and (max-width: 769px) {
  .html {
      font-size: 14px;
}
.collapsible popout{
  font-size: 14px;
  width: auto;

}
}

