<!-- Structure of the lists using templates -->
{% extends "base.html" %}
{% block content %}

<h3 class=" teal-text center-align">All Lists</h3>

{% if lists|length > 0 %}
<ul class="collapsible popout">
    {% for list in lists %}
    <li>
        <div class="collapsible-header teal-text teal lighten-4 ">
            <div class="col s3">
                <i class="fas fa-wine-bottle"></i>
                {% if session.user|lower == list.created_by|lower %}
                <a href="{{ url_for('delete_list', list_id=list._id) }}" class="btn-small green lighten-1">Done</a>
                <a href="{{ url_for('edit_list', list_id=list._id) }}" class="btn-small teal lighten-2">Edit</a>
                {% endif %}
            </div>
            <div class="col s9">
                <strong>{{ list.list_name }}</strong> : {{ list.vintage_year }}
            </div>
        </div>
        <div class="collapsible-body">
            <strong>{{ list.category_name }}</strong>
            <p>{{ list.list_description }}</p>
            <p><em>by: {{ list.created_by }}</em></p>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<h3 class="amber-text text-lighten-1 center-align">No Results Found</h3>
{% endif %}

<h4 class=" teal-text center-align">Search Lists</h4>
<div class="row card-panel teal lighten-4">
    <form action="{{ url_for('search') }}" method="post" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8">
                <i class="fas fa-search prefix teal-text text-lighten-1"></i>
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                <label for="query">Search Lists</label>
            </div>
            <div class="col s12 m4">
                <a href="{{ url_for('get_lists') }}" class="teal lighten-3 btn text-shadow">Reset</a>
                <button type="submit" class=" teal lighten-1 btn text-shadow">
                    <i class="fas fa-search left"></i> Search
                </button>
            </div>
        </div>
    </form>
</div>
<!------------footer-------------->
<footer class="footer">
    <p>© Copyright 2021 <br>
        All Rights Reserved.By <a href="mailto:yostinadesta@gmail.com">Yostina Desta</a>
    </p>
</footer>
{% endblock %}